 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 110px;
}

.u-section-1 .u-text-1 {
  margin: 29px 286px 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 41px;
  min-height: 41px;
  height: auto;
  margin: -47px auto 0 267px;
}

.u-section-1 .u-shape-2 {
  width: 24px;
  height: 24px;
  margin: 9px auto 0;
}

.u-section-1 .u-line-1 {
  width: 380px;
  transform-origin: left center 0px;
  margin: -25px auto 50px -113px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-right: 87px;
    margin-left: 325px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -76px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-right: 0;
    margin-left: 332px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -60px;
  }

  .u-section-1 .u-line-1 {
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 91px;
    margin-left: 41px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-line-1 {
    margin-bottom: 35px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 313px;
}

.u-section-2 .u-image-1 {
  width: 337px;
  height: 205px;
  margin: 54px 62px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -165px auto 0 62px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 62px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 62px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 94px 62px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-2 .u-image-1 {
    width: 213px;
    height: 138px;
    margin-top: 45px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -138px;
    margin-left: 36px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-bottom: 58px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-2 .u-image-1 {
    width: 133px;
    height: 86px;
    margin-top: 24px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -113px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 170px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 34px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: -3px;
    margin-left: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 17px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 17px;
    margin-left: 17px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 110px;
}

.u-section-3 .u-text-1 {
  margin: 29px 265px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 41px;
  height: 41px;
  margin: -47px auto 0 908px;
}

.u-section-3 .u-shape-2 {
  width: 24px;
  height: 24px;
  margin: -32px auto 0 916px;
}

.u-section-3 .u-line-1 {
  width: 380px;
  transform-origin: left center 0px;
  margin: -19px -180px 52px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: 200px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -46px;
    margin-right: 129px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 138px;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: -18px;
    margin-right: -244px;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    margin-left: 88px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -47px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -15px;
    margin-right: -248px;
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 150px;
    margin-left: 9px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -34px;
  }

  .u-section-3 .u-line-1 {
    height: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 14px;
    margin-right: -50px;
    margin-left: 62px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -12px;
    margin-right: 286px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 295px;
  }

  .u-section-3 .u-line-1 {
    margin-right: -91px;
    margin-bottom: 39px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 140px;
}

.u-section-4 .u-shape-1 {
  width: 86px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px 50px 0 auto;
}

.u-section-4 .u-text-1 {
  margin: -77px 114px 0 686px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 0 114px 38px 792px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -78px;
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 145px;
    margin-bottom: 39px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: -77px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-4 .u-shape-1 {
    width: 59px;
    height: 62px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -55px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-bottom: 32px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 239px;
}

.u-section-5 .u-image-1 {
  width: 90px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0 49px;
}

.u-section-5 .u-text-1 {
  margin: -90px 0 0 165px;
}

.u-section-5 .u-text-2 {
  margin: -4px 205px 0 165px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 2px 475px 0 165px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin: 16px auto 24px 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 161px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-bottom: 25px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -88px;
    margin-right: 11px;
    margin-left: 126px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 11px;
    margin-left: 25px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 25px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 11px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -81px;
    margin-right: 0;
    margin-left: 140px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-5 .u-image-1 {
    width: 56px;
    height: 56px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -56px;
    margin-right: 11px;
    margin-left: 96px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 243px;
}

.u-section-6 .u-image-1 {
  width: 90px;
  height: 90px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px 50px 0 auto;
}

.u-section-6 .u-text-1 {
  margin: -90px 115px 0 353px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: -2px 165px 0 355px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 0 115px 0 823px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 19px 50px 25px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-6 .u-text-1 {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 620px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 158px;
    margin-left: 620px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 16px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 25px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 25px;
    margin-left: 540px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -81px;
    margin-right: 131px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 360px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-6 .u-image-1 {
    width: 51px;
    height: 51px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -51px;
    margin-right: 72px;
    margin-left: 25px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 5px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 16px;
    margin-left: 159px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 10px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 244px;
}

.u-section-7 .u-image-1 {
  width: 90px;
  height: 91px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0 50px;
}

.u-section-7 .u-text-1 {
  margin: -91px auto 0 160px;
}

.u-section-7 .u-text-2 {
  margin: 0 auto 0 160px;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  margin: 0 auto 0 160px;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  margin: 19px auto 25px 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-left: 128px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 127px;
  }

  .u-section-7 .u-text-4 {
    margin: 27px 25px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-7 .u-image-1 {
    width: 51px;
    height: 52px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -52px;
    margin-right: 12px;
    margin-left: 89px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 8px;
    margin-left: 25px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 23px;
  }

  .u-section-7 .u-text-4 {
    margin: 12px 0 25px 12px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 245px;
}

.u-section-8 .u-image-1 {
  width: 90px;
  height: 90px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 25px 50px 0 auto;
}

.u-section-8 .u-text-1 {
  margin: -85px 166px 0 266px;
}

.u-section-8 .u-text-2 {
  margin: -4px auto 0 765px;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: -2px auto 0 828px;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  margin: 21px 50px 25px 200px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -90px;
    margin-right: 151px;
    margin-left: 59px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 151px;
    margin-left: 578px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 19px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 126px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 126px;
    margin-left: 379px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
    margin-right: 126px;
  }

  .u-section-8 .u-text-4 {
    margin: 11px 0 19px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -81px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 195px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 250px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 13px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-8 .u-image-1 {
    width: 51px;
    height: 51px;
    margin-top: 15px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -68px;
    margin-right: 84px;
    margin-left: 19px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 25px;
    margin-left: 94px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 25px;
    margin-left: 155px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 9px;
    margin-bottom: -1px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 110px;
}

.u-section-9 .u-text-1 {
  margin: 29px auto 0 343px;
}

.u-section-9 .u-group-elements-1 {
  width: 41px;
  min-height: 41px;
  height: auto;
  margin: -47px auto 0 267px;
}

.u-section-9 .u-shape-2 {
  width: 24px;
  height: 24px;
  margin: 9px auto 0;
}

.u-section-9 .u-line-1 {
  width: 380px;
  transform-origin: left center 0px;
  margin: -25px auto 21px -113px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 35px;
    margin-right: 91px;
    margin-left: 321px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-left: 259px;
  }

  .u-section-9 .u-line-1 {
    margin-bottom: 55px;
    margin-left: -121px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-top: 41px;
    margin-right: auto;
    margin-left: 332px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 30px;
    margin-right: 92px;
    margin-left: 40px;
  }

  .u-section-9 .u-group-elements-1 {
    margin-top: -9px;
    margin-left: 258px;
  }

  .u-section-9 .u-line-1 {
    margin-bottom: 45px;
    margin-left: -122px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 524px;
}

.u-section-10 .u-image-1 {
  width: 129px;
  height: 129px;
  background-image: url("images/purduesigbot.jpeg");
  background-position: 50% 50%;
  margin: 25px auto 0 31px;
}

.u-section-10 .u-text-1 {
  margin: -86px -148px 0 179px;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  margin: 62px auto 0 324px;
}

.u-section-10 .u-text-3 {
  margin: -84px 957px 0 31px;
}

.u-section-10 .u-text-4 {
  margin: 0 auto 0 31px;
}

.u-section-10 .u-text-5 {
  font-weight: 400;
  margin: 42px 31px 0 324px;
}

.u-section-10 .u-text-6 {
  margin: -83px auto 0 31px;
}

.u-section-10 .u-text-7 {
  margin: 0 auto 0 31px;
}

.u-section-10 .u-text-8 {
  margin: 47px auto 0 31px;
}

.u-section-10 .u-text-9 {
  font-weight: 400;
  margin: -43px auto 0 324px;
}

.u-section-10 .u-text-10 {
  margin: -41px auto 60px 31px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-10 .u-image-1 {
    margin-left: 28px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: -178px;
    margin-left: 178px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 63px;
    margin-right: 0;
    margin-left: 250px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: -113px;
    margin-right: 757px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 77px;
    margin-left: 250px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: -84px;
    margin-right: 709px;
  }

  .u-section-10 .u-text-7 {
    width: auto;
  }

  .u-section-10 .u-text-8 {
    width: auto;
    margin-top: 28px;
    margin-right: 709px;
    margin-left: 28px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-top: -74px;
    margin-right: 31px;
    margin-left: 250px;
  }

  .u-section-10 .u-text-10 {
    width: auto;
    margin-top: -66px;
    margin-right: 709px;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-10 .u-image-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: -107px;
    margin-right: 0;
    margin-left: 149px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 98px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-top: -127px;
    margin-right: 568px;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: -33px;
    margin-left: 172px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 159px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-top: -129px;
    margin-right: 486px;
    margin-left: 0;
  }

  .u-section-10 .u-text-7 {
    margin-top: -33px;
    margin-left: 244px;
  }

  .u-section-10 .u-text-8 {
    margin-top: 105px;
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-10 .u-text-9 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-10 {
    margin: -173px 150px 60px 277px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 5px;
    margin-left: 12px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -100px;
    margin-right: 25px;
    margin-left: 154px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 84px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -161px;
    margin-right: 388px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -30px;
    margin-left: 141px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 187px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -111px;
    margin-right: 337px;
  }

  .u-section-10 .u-text-7 {
    margin-top: -30px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-10 .u-text-8 {
    margin-top: 104px;
    margin-right: 309px;
  }

  .u-section-10 .u-text-9 {
    margin-top: 12px;
  }

  .u-section-10 .u-text-10 {
    margin-top: -192px;
    margin-right: 33px;
    margin-left: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: -106px;
    margin-right: 7px;
    margin-left: 144px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 77px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -210px;
    margin-right: 188px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -26px;
    margin-right: 22px;
    margin-left: auto;
  }

  .u-section-10 .u-text-5 {
    margin-top: 271px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -203px;
    margin-right: 199px;
  }

  .u-section-10 .u-text-7 {
    margin-top: -40px;
    margin-right: 0;
    margin-left: 119px;
  }

  .u-section-10 .u-text-8 {
    margin-top: 175px;
    margin-right: 168px;
  }

  .u-section-10 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-10 .u-text-10 {
    margin-top: -267px;
    margin-right: 53px;
    margin-left: 119px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 508px;
}

.u-section-11 .u-image-1 {
  width: 242px;
  height: 191px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-11 .u-text-1 {
  margin: -138px 207px 0 24px;
}

.u-section-11 .u-text-2 {
  font-weight: 400;
  margin: 68px 24px 0 323px;
}

.u-section-11 .u-text-3 {
  margin: -84px auto 0 24px;
}

.u-section-11 .u-text-4 {
  margin: 0 auto 0 24px;
}

.u-section-11 .u-text-5 {
  margin: 43px auto 0 24px;
}

.u-section-11 .u-text-6 {
  font-weight: 400;
  margin: -43px 24px 0 323px;
}

.u-section-11 .u-text-7 {
  margin: -41px auto 0 24px;
}

.u-section-11 .u-text-8 {
  margin: 29px auto 0 24px;
}

.u-section-11 .u-text-9 {
  margin: -33px auto 60px 323px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: -139px;
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 244px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-right: 716px;
  }

  .u-section-11 .u-text-4 {
    width: auto;
  }

  .u-section-11 .u-text-5 {
    width: auto;
    margin-top: 28px;
    margin-right: 716px;
  }

  .u-section-11 .u-text-6 {
    width: auto;
    margin-top: -86px;
    margin-right: 15px;
    margin-left: 244px;
  }

  .u-section-11 .u-text-7 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-11 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 716px;
  }

  .u-section-11 .u-text-9 {
    width: auto;
    margin-top: -86px;
    margin-left: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -160px;
    margin-right: 209px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-top: -130px;
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    margin-top: -34px;
    margin-left: 245px;
  }

  .u-section-11 .u-text-5 {
    margin-top: 117px;
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-7 {
    margin-top: -120px;
    margin-left: 245px;
  }

  .u-section-11 .u-text-8 {
    margin-top: 125px;
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-11 .u-text-9 {
    margin: -34px 169px 40px auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -149px;
    margin-right: 194px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 82px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -116px;
    margin-right: 340px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -30px;
    margin-right: 140px;
    margin-left: auto;
  }

  .u-section-11 .u-text-5 {
    margin-top: 104px;
    margin-right: 356px;
  }

  .u-section-11 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-11 .u-text-7 {
    margin-top: -110px;
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-11 .u-text-8 {
    margin-top: 95px;
    margin-right: 271px;
  }

  .u-section-11 .u-text-9 {
    margin-top: -30px;
    margin-right: 40px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-11 .u-image-1 {
    margin-right: -50px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -165px;
    margin-right: 152px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 72px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -192px;
    margin-right: 164px;
  }

  .u-section-11 .u-text-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-text-5 {
    margin-top: 149px;
    margin-right: 164px;
  }

  .u-section-11 .u-text-6 {
    margin-top: 43px;
  }

  .u-section-11 .u-text-7 {
    margin-top: -164px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-text-8 {
    margin-top: 149px;
    margin-right: 71px;
  }

  .u-section-11 .u-text-9 {
    margin: 0 auto 24px 0;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 10px;
}